.carousel-container {
  background-color: white;
  font-family: Lato, 'Helvetica Neue', Helvetica, sans-serif;
}

.carousel-header {
  display: flex;
  padding-top: 2rem;
  margin-left: 20rem;
}

.carousel-wrapper {
  position: relative;
  overflow: hidden;
  width: 75%;
  left: 15%;
}

.carousel-inner {
  margin-left: -19rem; /* Shift content left to hide within overflow */
  margin-right: -30rem; /* Shift content right to hide within overflow */
  padding-left: 19rem; /* Add padding to align content correctly */
  padding-right: 30rem; /* Add padding to align content correctly */

}

.cardBook {
  margin: 1rem;
  background-color: #ffffff;
  height: 30rem;
  overflow: hidden;
  width: 14.5rem;
  box-shadow: none;

}

.cardBook img {
  width: 100%;
  height: 19rem;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
}
.cardBook-link
{
  text-decoration: none;
  color: black;
}

.cardBook-content {
  padding-top: 1rem;
  font-size: larger;
}

.cardBook-actions {
  display: flex;
  align-items: center;
}

.cardBook-rating {
  display: flex;
  align-items: center;
  padding-top: 0.2rem;
}

.cardBook-rating mat-icon {
  margin-right: 0.5rem;
}

.cardBook-delete {

  width: 8rem;
  margin: -1.5rem auto 1rem;
}
.Article
{
  width: 75%;
  margin-top:2rem;
  margin-left:15rem;

}

