<form [formGroup]="form" (ngSubmit)="submit()">
  <h1 mat-dialog-title> Edit User Profile</h1>
  <div mat-dialog-content style="display:flex;flex-direction: column;width: 25rem">
    <mat-form-field style="width: 20rem">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field style="width: 20rem">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName">
    </mat-form-field>
    <mat-form-field style="width: 20rem">
      <mat-label>Birth Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="birthDate">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field style="width: 20rem">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username">
    </mat-form-field>
    <mat-form-field style="width: 20rem">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password">
    </mat-form-field>

  </div>
  <div mat-dialog-actions>
    <button mat-raised-button (click)="closeEditProfileDialog()" >Cancel</button>
    <button mat-raised-button type="submit">Edit User Info</button>
  </div>
</form>

